<!doctype html>
<html>

<head>
    <title>sfb-trr191</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../layout_overview.css" rel="stylesheet" type="text/css" />
    <link href="../entry.css" rel="stylesheet" type="text/css" />
    <link href="../detail_page.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="grid">
        <div id="grid_item_banner" class="grid_item">
            <a href="http://www.mi.uni-koeln.de/CRC-TRR191/index.php"><img class="banner_image" id="banner_image" src="../sfb_banner_with_full_text.png"></a>            
            <div class="tabs">
                <div class="tab_inactive">
                    <a href="../index.html">Software Projects</a>
                </div>
                <div class="tab_inactive">
                    <a href="../gallery.html">Gallery</a>
                </div>
                <div class="tab_inactive">
                    <a href="../videos.html">Videos</a>
                </div>
            </div>
        </div>
        <div id="grid_item_content" class="grid_item">
            <div class="grid_content">
                <h1 id="project_title">$PROJECT_TITLE$</h1>
                <div>$AUTHORS$</div>
                <div class="image_wrapper">
                    $IMAGES$
                </div>
                <h2>Abstract</h1>
                    <div class="detail_text_wrapper">
                        $ABSTRACT_TEXT$
                    </div>
                <h2>Links</h1>
                    <div class="detail_links">
                        $LINKS$
                    </div>
                    
            </div>
        </div>
    </div>
</body>

</html>