<root project_title="Visualization of Surfaces of Section" project_image="" project_type="Master Thesis">
    <status project_start_date="" project_completion_date="2022-12-06"/>
    <authors>
        <author name="Joshua Bossert" href=""/>
    </authors>
    <images>
    </images>
    <links>
    </links>
</root>