@import url("layout_base.css");

.grid {
    display: grid;
    gap: 4px;
    height: 100%;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows:  max-content 1fr;
    grid-template-areas: "a b c"
                         "d e f";
}

#grid_item_banner {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
}

#banner_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#grid_item_content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;

}

#title_1{
    text-align: right;
    color: #000088;
    font-family: times new roman,times,serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 28px;
    margin: 4px 0px 0px 0px;
}

#title_2{
    position:relative;
    text-align: right;
    z-index: 2;
    color: #000088;
    font-family: times new roman,times,serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 28px;
    margin: -10px 0px 0px 0px;
    right: 0px;
    top: 25px;
    width: max-content;
}

#title_software_projects{
    text-align: center;
    align-self: center;
    display: block;
    width: 100%;
    color: #000088;
    font-family: times new roman,times,serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 28px;
    margin: 4px 0px 0px 0px;
}

.tabs{
    grid-column: 3;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
}

.tab_active{
    background-color: #390687;
}

.tab_inactive{
    background-color: #a3a3a3;
}

.tab_active a{
    color: #ffffff;

    font-size: 30px;
    font-family: times new roman,times,serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;

    text-align: center;
    align-self: center;
    display: block;
}

.tab_inactive a{
    color: #ffffff;

    font-size: 30px;
    font-family: times new roman,times,serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;

    text-align: center;
    align-self: center;
    display: block;
}




#gallery_container {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 5px; /* Adjust the gap between images as needed */

    overflow-y: auto;
}

.image_link{
    height: 180px; /* Set the desired maximum height for the images */
    width: auto;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }