html {
    box-sizing: border-box;
    height: 100%;
    padding: 4px 4px 4px 4px;
    margin: 0%;
    overflow: hidden;
    box-sizing: border-box;
}
   
body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    box-sizing: border-box;
}

/*
.wrapper {
    display: grid;
    grid-template-columns: 72px 600px 1fr;
    grid-template-rows: 1fr;
    gap: 4px;
    height: 100%;
}
*/

fieldset {
    margin: 0%;
    padding: 8px 0px 0px 0px;
    box-sizing: border-box;
    height: 100%;
}

.group_scroll {
    margin: 0%;
    padding: 8px 0px 0px 0px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

legend {
    margin: 0px 0px 0px 4px;
}

.vertical_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: -8px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    gap: 4px; 
}

.horizontal_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    position: relative;
    margin: -8px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    gap: 4px; 
}

.tree_view_header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_selected{
    background-color: rgb(180, 180, 180);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content0{
    display: grid;
    grid-template-columns: 16px 0px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content1{
    display: grid;
    grid-template-columns: 16px 16px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content1_leaf{
    display: grid;
    grid-template-columns: 16px 0px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content2{
    display: grid;
    grid-template-columns: 16px 32px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content2_leaf{
    display: grid;
    grid-template-columns: 16px 16px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content3{
    display: grid;
    grid-template-columns: 16px 48px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content3_leaf{
    display: grid;
    grid-template-columns: 16px 32px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content4{
    display: grid;
    grid-template-columns: 16px 64px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content4_leaf{
    display: grid;
    grid-template-columns: 16px 48px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content5{
    display: grid;
    grid-template-columns: 16px 80px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content5_leaf{
    display: grid;
    grid-template-columns: 16px 64px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content6{
    display: grid;
    grid-template-columns: 16px 96px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_header_content6_leaf{
    display: grid;
    grid-template-columns: 16px 80px 16px 1fr;
    grid-template-rows: 1fr; 
    gap: 2px; 
}

.tree_view_node label{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.label_todo{
    color: rgb(255, 0, 0);
}

.label_todo_copy{
    color: rgb(255, 0, 255);
}

.button_eye_enabled{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: none;
    background-image: url("../icons/eye_enabled_16.png");
    background-color: transparent;
}

.button_eye_disabled{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: none;
    background-image: url("../icons/eye_disabled_16.png");
    background-color: transparent;
}

.button_eye_disabled_by_parent{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: none;
    background-image: url("../icons/eye_disabled_by_parent_16.png");
    background-color: transparent;
}

.button_children_show{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: none;
    background-image: url("../icons/children_show.png");
    background-color: transparent;
}

.button_children_hide{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: none;
    background-image: url("../icons/children_hide.png");
    background-color: transparent;
}

.button_children_none{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: none;
    background-image: url("../icons/children_none.png");
    background-color: transparent;
}

#invisible_container{
    display:none
}

.hidden{
    display:none
}

.display_none{
    display: none;
}

.tree_selection_marker {
    grid-column: 1 / 4; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
    grid-row: 1;    /* same concept, but for rows */
    
}

.group_properties{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    gap: 4px; 
}

.group_properties_content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    gap: 4px; 
}

.group_properties_children{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    gap: 4px; 
}

.input_row{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    gap: 0px; 
}

.horizontal_div_3 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
    gap: 4px;
}

.horizontal_div_3 input {
    min-width: 75px;
}

.horizontal_div_2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    gap: 4px;
}

.horizontal_div_2 input {
    min-width: 75px;
}

.horizontal_div_2 select {
    min-width: 75px;
}

.horizontal_div_2_fr_max {
    display: inline-grid;
    grid-template-columns: 1fr max-content;
    column-gap: 4px;
    gap: 4px;
}

.span_style_properties_legend_name{
    color: rgb(0, 0, 0);    
    font-weight: bold;
}

.span_style_properties_legend_path{
    color: rgb(179, 179, 179);
    display: none;
}

.group {
    margin: 0%;
    padding: 8px 0px 0px 0px;
    box-sizing: border-box;
    height: 100%;
}

.subgroup_toolbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    gap: 4px; 
}

#group_tools{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    gap: 4px;   
    overflow: hidden;
}

#subgroup_toolbar_layouts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    gap: 4px; 
}

#transparent_overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 6px;
    text-align: center;
    z-index: 1001;

    position:absolute;
    overflow:auto;
    width:100%;
    height:100%;
}

.dialog_progress {
    background: #444;
    color: #fff;
    padding: 6px;
    text-align: center;
    z-index: 1002;

    position:absolute;
    top:50%;
    left:50%;
    overflow:auto;
    width:500px;
    height:150px;
    margin-left:-250px;
    margin-top:-75px;

    display: grid;
}

.canvas_wrapper{   
    display: grid;
    grid-template-columns: minmax(0, 100%);
    grid-template-rows: minmax(0, 100%);
    box-sizing: border-box;
    padding: 4px 4px 4px 4px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.aspect_wrapper_fixed{
    aspect-ratio: 16 / 9;
    max-height: 100%;
    max-width: 100%;
    /*justify-self: center;*/
}

.aspect_wrapper_flexible{
    max-height: 100%;
    max-width: 100%;
}

.canvas {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    max-height: inherit;
    max-width: inherit;
}

.thumbnail{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    max-height: inherit;
    max-width: inherit;
}

.canvas_wrapper_transfer_function{
    /*
    display: flex;
    padding: 4px 4px 4px 4px;
    margin: 0;
    width: 100%;
    height: 100%;
    */
    display: grid;
    grid-template-columns: 512px;
    grid-template-rows: 256px;
    box-sizing: border-box;
    padding: 4px 4px 4px 4px;
    margin: 0;
    width: 100%;
    height: 100%;
    
}

#transfer_function_canvas{
    display: block;
    width: 512px;
    height: 256px;  
    min-width: 512px;
    min-height: 256px;
    margin: auto;
    padding: 0;
    border: none;
    background-color: rgb(255, 255, 255);  
}

#paragraph_version_string{
    margin: 0;
}

.grid_item{
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    padding: 0%;
    margin: 0%;
}

.input_readonly {
    background: rgb(242, 242, 242);
    border:1px solid rgb(118, 118, 118);
}

.span_style_darkmode_highlight_text_red{
    color: rgb(255, 100, 100);
}


.navigation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  label {
    margin: 0 10px;
  }

a{    
    text-decoration: none;
}

  




