<root project_title="Features in Plane Fields" project_image="" project_type="Master Thesis">
    <status project_start_date="" project_completion_date="2022-11-10"/>
    <authors>
        <author name="Clara Hartmann" href=""/>
    </authors>
    <images>
    </images>
    <links>
    </links>
</root>