<root project_title="Web-Based Flow Visualization in Riemannian Manifolds" project_image="state_teaser_main.png">
    <authors>
        <author name="Christian Lang" href="https://vcg.iwr.uni-heidelberg.de/people/lang/"/>
        <author name="Egzon Miftari" href="https://vcg.iwr.uni-heidelberg.de/people/miftari/"/>
        <author name="Peter Albers" href=""/>
        <author name="Filip Sadlo" href="https://vcg.iwr.uni-heidelberg.de/people/sadlo/"/>
    </authors>
    <images>
        <image file="state_teaser_main.png"/>
        <image file="state_taimanov_non_degenerate_main_no_ftle.png"/>
        <image file="state_tunnel_main.png"/>
        <image file="state_comparison_nil_flow.png"/>
        <image file="screenshot_tool.png"/>
    </images>
    <links>
        <link name="Web-Tool" href="https://sfb-trr191.github.io/3-torus-flowvis-tool/"/>  
    </links>
</root>