<root project_title="TODO Paraview Installer" project_image="todo">
    <authors>
        <author name="Leonard Marks"/>
    </authors>
    <images>
        <image file="screenshot_tool.png"/>
    </images>
    <links>
        <link name="TODO Installer" href="https://google.com"/>  
    </links>
</root>