<root project_title="Visualization of Planefields" project_image="360Isoflaeche.png" project_type="Master Thesis">
    <status project_start_date="" project_completion_date="2020-11-28"/>
    <authors>
        <author name="Sebastian Hegmann" href=""/>
    </authors>
    <images>
        <image file="TwistedDisc.png"/>
        <image file="360Disc.png"/>
        <image file="360Isoflaeche.png"/>
    </images>
    <links>
    </links>
</root>