<root project_title="Visualization of Planefields" project_image="" project_type="Master Thesis">
    <status project_start_date="" project_completion_date="2020-11-28"/>
    <authors>
        <author name="Sebastian Hegmann" href=""/>
    </authors>
    <images>
    </images>
    <links>
    </links>
</root>