<root project_title="Unnamed Project" project_image="" project_type="Practical">
    <status project_start_date="2021-02-01" project_completion_date=""/>
    <authors>
        <author name="Christian Lang" href="https://vcg.iwr.uni-heidelberg.de/people/lang/"/>
    </authors>
    <images>
    </images>
    <links>
    </links>
</root>