<root project_title="Visualization of Overtwisted Disks in R³" project_image="" project_type="Master Thesis">
    <status project_start_date="" project_completion_date="2024-??-??"/>
    <authors>
        <author name="Marco Kowalzik" href=""/>
    </authors>
    <images>
    </images>
    <links>
    </links>
</root>